# pycharm
.idea/

# tmp files
*swp
*~

# python files
__pycache__

# libre office
*.~*#

# backups
*.bak*

# devs
dev/
*/dev/
EMvsCON_*.py
CVs.py
fitshead.py
grab_env.py

lc/

psf/gui.*.py
psf/psf+find.*.py
psf/psf_working.py
psf/stars.*.py
psf/psffit.*py
psf/psffind.py

plan/.coordcache
plan/.sitecache
plan/.ipynb_checkpoints
plan/.legend.fix
plan/viz.ipynb
plan/visibilities.py
plan/viz.[01].py
plan/viz.py.bak
plan/viztest.py
plan/plan.py

transients/gaia/alerts.csv
spectra

phot/find.test.py
phot/phot.scaled*.py
phot/phot.MWE.test.py
phot/phot.leak.py
phot/proc2.py
phot/main.dev.py
phot/slotmain.py
