

#kate tmp files
*.kate-swp
*~

#python files
__pycache__

#libre office
*.~*#

#devs
*/dev/*
EMvsCON_*.py
CVs.py
fitshead.py
grab_env.py

lc/

psf/gui.*.py
psf/psf+find.*.py
psf/psf_working.py
psf/stars.*.py
psf/psffit.*py
psf/psffind.py

plan/.coordcache
plan/.ipynb_checkpoints
plan/viz.ipynb
plan/visibilities.py
plan/viz.0.py
plan/viz.py.bak
plan/viztest.py
plan/plan.py

transients/gaia/alerts.csv

phot/find.test.py

spectra
