#kate tmp files
*.kate-swp
*.py~

#python files
__pycache__

#libre office
*.~*#


EMvsCON_*.py
lightcurve.1.3.py

psf/gui.*.py
psf/psf+find.*.py
psf/psf_working.py
psf/stars.*.py
psf/psffit.*py
psf/psffind.py

plan/.coordcache
plan/.ipynb_checkpoints
plan/viz.ipynb
plan/visibilities.py