loguru
addict
anytree
more_itertools
stdlib_list
pyyaml

numpy
numpydoc
joblib
astropy
photutils
scikit_learn
emcee

matplotlib
APLpy

pyxides
docsplice
decorator
better_exceptions
git+https://github.com/astromancer/motley
git+https://github.com/astromancer/recipes
git+https://github.com/astromancer/scrawl
