loguru
addict
pyyaml
anytree
decorator
stdlib_list
more_itertools
better_exceptions

numpy
joblib
astropy
photutils
drizzle

scikit_learn
emcee

matplotlib
APLpy

pyxides
docsplice
numpydoc

git+https://github.com/astromancer/motley
git+https://github.com/astromancer/recipes
git+https://github.com/astromancer/scrawl
